
body, html {
    margin: 0;
    padding: 0;
}

 
body {
    display: initial;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh; 
    background-color: #ffffff; 
}

.form-container {
    background-color: #000;
    color: #ff0000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#signup-form {
    margin-top: 100px;
}

#signup-form h3 {
    margin-bottom: 5px;
}

#signup-form input[type="text"],
#signup-form input[type="email"],
#signup-form input[type="password"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid #f70303;
}

#signup-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(192, 229, 6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#signup-form button:hover {
    background-color: #45a049;
}

